<!DOCTYPE html>
<html
  lang="es"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/estilo.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />
    <title>Libreria Oz - Crear Autor</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="logo"><a href="/">Libreria Oz</a></div>
        <ul class="menu">
          <li><a th:href="@{/libro/listado}">Libros</a></li>
          <li><a th:href="@{/autor/listado}">Autores</a></li>
          <li><a th:href="@{/editorial/listado}">Editoriales</a></li>
        </ul>
      </nav>
    </header>
    <div class="content">
      <form class="formulario">
        <h1>Crear Autor</h1>
        <p class="error" th:if="${error != null}" th:text="${error}" style="color:red;"></p>
        <input type="hidden" name="id" th:value="${editorial.id}">
        <input type="text" name="nombre" placeholder="Nombre Editorial" th:value="${editorial.nombre}"><br>
        <button th:if="${accion=='Crear'}" formaction="/editorial/actualizar-editorial" formmethod="post" type="submit">Crear Editorial</button>
        <button th:if="${accion=='Editar'}" formaction="/editorial/actualizar-editorial" formmethod="post" type="submit">Editar Editorial</button>
        <button th:if="${accion=='Eliminar'}" formaction="/editorial/eliminar-editorial" formmethod="post" type="submit">Eliminar Editorial</button>
      </form>
      
    </div>
  </body>
</html>
